@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,100;1,500;1,600;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 200px;
}

.nav-link {
    margin-left: 20px;
    padding-right: 1.6rem;
    padding-left: 1.5rem;
}

a {
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.navbar-light .navbar-nav .nav-link.active,
.nav-link:hover {
    background-color: #21B573;
    color: #fff;
}